<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreID</key>
	<string>1311421740</string>
	<key>ShareSDKAppKey</key>
	<string>22b5c39ea530a</string>
	<key>SSDKPlatformTypeSinaWeiboAppKey</key>
	<string>2564292504</string>
	<key>SSDKPlatformTypeSinaWeiboAppSecret</key>
	<string>68c05dd1bc3a7a29003352d4de903ef7</string>
	<key>SSDKPlatformTypeSinaWeiboRedirectUri</key>
	<string>http://www.sharesdk.cn</string>
	<key>SSDKPlatformTypeWechatAppId</key>
	<string>wxb584395fb2e50f8c</string>
	<key>SSDKPlatformTypeWechatAppSecret</key>
	<string>e21e3553124737a8a505ed5ea07c0526</string>
	<key>SSDKPlatformTypeQQAppId</key>
	<string>1106454935</string>
	<key>SSDKPlatformTypeQQAppKey</key>
	<string>bRyuSQx0YbIdUgMb</string>
	<key>UMAnalyticsConfigAppKey</key>
	<string></string>
	<key>TalkingDataSession</key>
	<string></string>
</dict>
</plist>
